.glass {
  /* From https://css.glass */
  background: rgba(157, 141, 141, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(157, 141, 141, 0.3);
}

.viewcontainer {
  min-width: 100%;
  width: 100%;
  height: calc(100%-3rem);
  min-height: 60vh;
  gap: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text";
}
.imgContainer {
  grid-area: image;
  overflow: hidden;
  min-width: 90%;
  width:90%;
  min-height: 90%;
  height: 90%;
  box-sizing: border-box;
  overflow: hidden;
  place-self: center;
  justify-self: center;
}
.textContainer {
  grid-area: text;
  min-width: 90%;
  width: 90%;
  min-height: 90%;
  height: 90%;
  box-sizing: border-box;
  overflow: hidden;
  place-self: center;
  justify-self: center;
}
