---
import { CardMain } from "@src/components/indexPage/CardMain";
import { Footerloop } from "@src/components/indexPage/loopFooter/footerloop";
---

<section id="tecnologies" class="section2">
  <div class="containerCard h-[calc(100%-3rem)]">
    <CardMain className="w-10/12 h-10/12 min-h-64" client:only="react" />
  </div>
  <footer class="flex flex-row justify-center w-screen h-16 self-end">
    <Footerloop client:visible />
  </footer>
</section>
<style>
    .containerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100%;
    margin-top: 4.5rem;
  }
  .section2 {
    min-width: 100%;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
</style>
