---
import Layout from "../layouts/Layout.astro";
import Proyect from "@src/components/aboutPage/proyect.astro";
import Principal from "@src/components/aboutPage/aboutcomponent.astro";
---

<Layout>
  <div class="w-full h-full overflow-x-hidden overflow-y-visible z-0">
    <Principal />
    <section
      id="proyect"
      class="w-screen h-full flex flex-col justify-center items-center"
    >
      <Proyect />
    </section>
  </div>
</Layout>
