---
import Layout from "../layouts/Layout.astro";
import { MenuContact} from "@src/components/contact/menucontact";
---
  <Layout>
      <section class="w-screen h-screen flex flex-col justify-center items-center overflow-x-hidden">
	<div class="w-11/12 h-10/12 py-4">
	<MenuContact client:only="react" />
	</div>
      </section>
  </Layout>
