---
import Layout from "../layouts/Layout.astro";
import TitleIndex from "@src/components/indexPage/titleIndex.astro";
import Sectiontwo from "@src/components/indexPage/section2.astro";
---

<Layout>
   <div class="w-full h-full overflow-x-hidden overflow-y-visible z-0">
    <section
      class="w-screen h-screen grid grid-cols-3 grid-rows-2 md:grid-rows-3 overflow-x-hidden"
    >
      <TitleIndex
        className="col-start-1 col-end-4 row-start-1 row-end-2 place-self-end  md:place-self-center  md:row-start-2 md:row-end-3"
      />
      <div
        class:list={[
          "row-start-2 row-end-3  md:row-start-3 md:row-end-4",
          "col-start-1 col-end-4",
          "flex flex-row justify-center items-center",
        ]}
      >
        <h4 class="flex">desarrollo, testing, refactorización</h4>
      </div>
    </section>
    <Sectiontwo />
  </div>
</Layout>
<style>
   h4 {
    -webkit-text-stroke: 1px white;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    75% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }

  .fadeIn {
    animation: fadeIn 8s ease-in;
    animation-delay: 0s;
  }
</style>
