---
import DetailsList from "./details.astro";
import { LogoIcon } from "./logo";
import { type ObjectNav } from "./item.d";

const dev = import.meta.env.PUBLIC_DEV;
const path = {
  home: dev === "true" ? "/" : "/Elysium",
  tech: dev === "true" ? "/#technologies" : "/Elysium/#tecnologies",
  about: dev === "true" ? "/about" : "/Elysium/about",
  proyect: dev === "true" ? "/about/#proyect" : "/Elysium/about/#proyect",
  contact: dev === "true" ? "/contact" : "/Elysium/contact",
};
const NavObject: ObjectNav = {
  home: [
    { name: "home", path: path.home },
    { name: "tecnologies", path: path.tech },
  ],
  about: [
    { name: "/about", path: path.about },
    { name: "/proyect", path: path.proyect },
  ],
  contact: [{ name: "contact", path: path.contact }],
};
---

<div class:list={["w-full h-11 z-60 ", "absolute top-0"]}>
  <div
    class:list={[
      "fixer top-0 w-full h-10",
      "grid grid-cols-1 justify-items-center content-center",
      "md:grid-cols-2",
    ]}
  >
    <LogoIcon />
    <nav
      class:list={[
        "w-full h-full ",
        "flex flex-row justify-around gap-2",
        "col-start-1 col-end-2",
        "md:col-start-2 md:col-end-3",
      ]}
    >
      <DetailsList Param={NavObject} />
    </nav>
  </div>
</div>
