---
import "../styles/globals.css";
import Animation from "@src/components/animation.astro";
import SplashCursor from "@src/components/SplashCursor/SplashCursor";
import Navbar from "@src/components/navbar/navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Elysium technologies</title>
  </head>
  <body class="bg-transparent relative">
    <SplashCursor client:only="react" />
    <div class="fixed top-0 left-0 w-full h-full -z-10 bg-black">
      <Animation />
    </div>
    <Navbar/>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: white;
  }
</style>
