<article>
  <h2>Nuestros servicios</h2>
  <p>
    Somos un agencia de desarrollo de software que se centra en la creación de
    aplicaciones web,<br />
    aplicaciones moviles, manteniento y testeo de software para empresas y otras
    consultoras.<br />
    Nos enfocamos principalmente en typescript usando expo, nextjs y nestjs, aunque
    tambien podemos usar<br />
    python con fastapi o golang si el producto lo demanda.
  </p>
  <h3>servicios de mantenimiento</h3>
  <p>
    Con el fin de ayudar a la industria a crear productos de calidad brindamos
    servicios de testing, documentación <br />
    y refactorización a programadores, agencias de desarrollo y empresas que desen
    dar mantenimiento a sus productos <br />
    pero que no cuente con el tiempo o el personal para dicha tarea
  </p>
</article>
